<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Edit</title>
        <meta name="description" content="UserEdit">
        <link type="text/css" rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <h1>更新フォーム</h1>
        <form action="/update/<%= personas[0].id %>" method="POST" class="editForm">
            <table>
                <tr>
                    <th>名前</th>
                    <td><input type="text" name="name" value="<%= personas[0].name %>"><span id="nameError" class="error"></span></td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td><input type="text" name="kana_name" value="<%= personas[0].kana_name %>"><span id="kana_nameError" class="error"></span></td>
                </tr>
                <tr>
                    <th>性別</th>
                    <td>
                        <label class="radio"><input type="radio" name="gender" value="男性">男性</label>
                        <label class="radio"><input type="radio" name="gender" value="女性">女性</label>
                        <br><span id="genderError" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><input type="text" name="email" value="<%= personas[0].email %>"><span id="emailError" class="error"></span></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><input type="text" name="phone" value="<%= personas[0].phone %>"><span id="phoneError" class="error"></span></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><input type="text" name="address" value="<%= personas[0].address %>"><span id="addressError" class="error"></span></td>
                </tr>
                <tr>
                    <th>都道府県</th>
                    <td>
                        <select name="workplace">
                            <!-- <option value="" disabled>選択してください</option> -->
                            <% for(let i=0; i < prefectures.length; i++) { %>
                                <option value="<%= prefectures[i]["name"] %>"><%= prefectures[i]["name"] %>
                                </option>
                            <% }; %>
                        </select>
                        <br><span id="workplaceError" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <th>世帯数</th>
                    <td><input type="text" name="household" value="<%= personas[0].household %>"><span id="householdError" class="error"></span></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" id="btn">更新</button></td>
                </tr>
            </table>
        </form>
        <script type="module">
            // バリデーションチェック
            import {formValidation} from '../script/formValidation.js'
            const btn = document.querySelector("#btn")
            btn.addEventListener("click", (event) =>{
                if(!formValidation()) event.preventDefault();
            })
        </script>
        <script>
            // 選択済みの性別を取得し反映
            const personas = JSON.parse('<%= JSON.stringify(personas) %>'.replace(/&#34;/g, '"'));
            const radio = document.getElementsByName("gender");
            radio.forEach(element => {
                if (personas[0].gender === element.value) element.checked = true;
            });

            // 選択済みの都道府県を取得し反映
            const prefectures = JSON.parse('<%= JSON.stringify(prefectures) %>'.replace(/&#34;/g, '"'));
            const workplace = document.getElementsByName("workplace")[0];
            for (let i = 0; i < workplace.options.length; i++) {
                if (personas[0].workplace === workplace.options[i].value) {
                    workplace.options[i].selected = true;
                };
            };
        </script>
    </body>
</html>
